img {
	display: block;
	margin: auto;
	border-radius: 10px;
}
h3 {
	text-align: center;
}
#desc {
	display: block;
	text-align: center;
	margin: auto;
	width: 400px;
	background-color: #F38630;
	padding: 10px;
	border: 5px;
	border-color: #FA6900;
	border-radius: 10px;
	margin-top: 10px;
}