h1 {
	text-align: center;
}

a {
	padding-right: 40px;
}

footer {
	font-size: .75em;
	text-align: center;
	background-color: #A7DBD8;
}
html {
	background-color: #E0E4CC;
}

#container {
	background-color: #A7DBD8;
}