img {
	display: block;
	margin: auto;
	border-radius: 10px;
}
h3 {
	text-align: center;
	font-family: 'Pacifico', cursive;
}
#desc {
	display: block;
	text-align: center;
	margin: auto;
	width: 400px;
	background-color: #F38630;
	padding: 10px;
	border: 5px;
	border-color: #FA6900;
	border-radius: 10px;
	margin-top: 10px;
}

.jumbotron {
	text-align: center !important;
	background-image: url("http://www.hotelcaferoyal.com/sites/default/files/styles/desktop_main_image/public/hotel_cafe_royal_-_the_cafe_9.jpg?itok=kmN9rJr8");
	color: white !important;
	text-shadow: 0 0 14px black;
}
.jumbotron h1{
	font-family: 'Pacifico', cursive !important;
	padding-bottom: 5px;
}

