
h1 {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
}

a {
	font-size: 20px;
	text-align: center;
	display: block;
	margin: auto;
}
#img {
	margin: auto;
	background-size: 400px 400px;
	background-image: url("https://i.ytimg.com/vi/7ff14KkkeHw/maxresdefault.jpg"); height: 400px; width: 400px;

}

li {
	font-style: italic;
}

th {
	background-color: gray;
}

