#item {
	background-color: #F38630;
	padding: 10px;
	margin: 10px;
	text-align: center;
	border-radius: 10px;

}
#footer {
	clear: both;
}
h3 {
	background-color: #69D2E7;
	border-radius: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}