
body {
	background-color: #7037CD !important;
}

h1 {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}

h2 {
	font-family: 'Titillium Web', sans-serif;
}

a {
	font-size: 20px;
	text-align: center;
	display: block;
	margin: auto;
}
#img {
	margin: auto;
	background-size: 400px 400px;
	background-image: url("https://i.ytimg.com/vi/7ff14KkkeHw/maxresdefault.jpg"); height: 400px; width: 400px;

}

li {
	font-style: italic;
}

table {
	margin: 10px;
}

th {
	background-color: #651F71;
}

td {
	font-style: italic;
	padding-left: 5px !important;
}

tbody tr:nth-child(odd) {
	background-color: #68B2F8;
}

tbody tr:nth-child(even) {
	background-color: pink;
}

a:link {
	color: #506EE5;
	text-decoration: none;
}

a:visited {
	color: #506EE5;
	text-decoration: none;
}

a:hover {
	background-color: #68B2F8;
	color: #1D0C20;

}
a:active {
	text-decoration: none;
}

