body {
	padding: 10px;
	background-color: #3FB8AF;
}

h1 {
	text-align: center;
}

form {
	text-align: center;
	font-size: 1.3em;
	
}

input {
	padding-left: 3px;
}

#button {
	text-align: center;
}

#game {
	background-color: #7FC7AF;
	margin: 70px;
	padding: 40px;
}

#btn {
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #FF9E9D;
	border-color: #FF3D7F;
}

table {
	margin: auto;
}