img {
	display: block;
	margin: auto;
	border-radius: 10px;
}
h3 {
	text-align: center;
	font-family: 'Pacifico', cursive;
}
#desc {
	display: block;
	text-align: center;
	margin: auto;
	width: 400px;
	background-color: #F38630;
	padding: 10px;
	border: 5px;
	border-color: #FA6900;
	border-radius: 10px;
	margin-top: 10px;
}

#myCarousel {
	width: 700px;
	height: 400px;
	margin: auto;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;
      }

.carousel-caption {
	text-align: center !important;
	color: white !important;
	text-shadow: 0 0 30px black !important; 
}
.carousel-caption h3{
	font-family: 'Pacifico', cursive !important;
	padding-bottom: 5px;
}

#message {
	font-size: 2.5em;
	color: #FA6900;
	text-align: center;
	vertical-align: middle;
}