h1 {
	text-align: center !important;
	font-family: 'Pacifico', cursive !important;
}

a {
	padding-right: 40px;
}

#footer {
	font-size: .75em !important;
	text-align: center !important;
	background-color: #A7DBD8 !important;
}
body {
	background-color: #E0E4CC !important;
}

#container {
	background-color: #A7DBD8;
}

a:link {
	color: #FA6900;
}

a:visited {
	color: gray;
}

a:hover {
	color: #69D2E7;
	font-weight: bold;
}
a:active {
	color: #F38630;
	text-decoration: none;
}